extends ../index

mixin field(name, type)
  .form-group
    label.col-sm-2.control-label(for='inputEmail3')= name
    .col-sm-10
      input#inputEmail3.form-control(type= type || 'text', placeholder=name, name=name, value= event[name])

block content
  form.form-horizontal(method= 'post', action= `/dashboard/events/${ event.id }`)
    input(type= 'hidden', name= 'id', value= event.id)
    +field('title')
    +field('price')
    +field('imageUrl')
    .form-group
      label.col-sm-2.control-label(for='inputEmail3') Summary
      .col-sm-10
        textarea#inputEmail3.form-control(rows= 9, placeholder=name, name='summary')= event.summary
    .form-group
      label.col-sm-2.control-label(for='inputEmail3') Description
      .col-sm-10
        textarea#inputEmail3.form-control(rows= 9, placeholder=name, name='description')= event.description
    .form-group
      label.col-sm-2.control-label(for='venueSelect') Venue
      .col-sm-10
        select#venueSelect.form-control(placeholder=name, name='venue[id]', value= event[name])
          each venue in venues
            option(value= venue.id, selected= (venue.id === event.venueID))= venue.name
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') Save
        button.btn.btn-default(type='cancel') Cancel
